@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 13px;
}

window#waybar {
  background: transparent;
  color: @foreground;
  padding: 0px;
  margin: 0px;
}

.modules-left {
  margin-left: 5px;
}

.modules-right {
  margin-right: 12px;
  background: @background;
  border-radius: 10px;
  padding: 5px 10px;
}

#workspaces {
  background: @background;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 10px;
}

#workspaces button {
  padding: 1px 8px;
  margin: 0 1.5px;
  min-width: 9px;
  font-weight: bold;
  color: @foreground;
}

#workspaces button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  transition: none;
}

#workspaces button.active {
  background-color: @foreground;
  color: @background;
  border-radius: 6px;
}

#cpu,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  background: @background;
  border-radius: 10px;
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  background: @background;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
}

#mpris {
  font-weight: 800;
  background: @background;
  border-radius: 10px;
  padding: 5px 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
